# master_docker-compose.yml (Master/DB 디바이스에서 실행)

version: '3.8'

services:
  # 1. MongoDB 서비스
  db:
    image: mongo:latest
    container_name: mongodb_db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongouser
      - MONGO_INITDB_ROOT_PASSWORD=1234
    volumes:
      - mongodb_data:/data/db
    command: mongod --bind_ip_all
  # 2. Django 애플리케이션 서비스 (MASTER NODE)
  app:
    build: .
    container_name: django-news-app-master
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - MONGO_HOST=db
      - MONGO_PORT=27017
      - MONGO_DB=BBC_analysis_db
      - MONGO_USER=mongouser
      - MONGO_PASS=1234
      - WORKER_NAME=Master

    entrypoint: /usr/src/app/entrypoint.sh
    command: python manage.py runserver 0.0.0.0:8000


volumes:
  mongodb_data: